---
http_interactions:
- request:
    method: get
    uri: http://data.sfgov.org/resource/vw6y-z8j6.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Last-Modified:
      - Sun, 07 Jun 2015 10:00:56 PDT
      X-Soda2-Warning:
      - X-SODA2-Fields, X-SODA2-Types, and X-SODA2-Legacy-Types are deprecated
      X-Soda2-Fields:
      - '[":updated_at","status","request_type","media_url","neighborhood","supervisor_district","responsible_agency","point","category","request_details","source","address","updated","case_id","closed",":id",":created_at","opened"]'
      X-Soda2-Types:
      - '["meta_data","text","text","url","text","number","text","location","text","text","text","text","calendar_date","number","calendar_date","meta_data","meta_data","calendar_date"]'
      X-Soda2-Legacy-Types:
      - 'true'
      X-Socrata-Region:
      - production
    body:
      encoding: ASCII-8BIT
      string: |-
        [ {
          "point" : {
            "needs_recoding" : false,
            "longitude" : "-122.486196805",
            "latitude" : "37.742732506",
            "human_address" : "{\"address\":\"\",\"city\":\"\",\"state\":\"\",\"zip\":\"\"}"
          },
          "category" : "Graffiti Public Property",
          "request_details" : "Other_enter_additional_details_below - Offensive",
          "source" : "Open311",
          "address" : "2394 29TH AVE, SAN FRANCISCO, CA, 94116",
          "request_type" : "Offensive Graffiti on Public Property",
          "status" : "Open",
          "updated" : "2015-06-07T02:50:30",
          "media_url" : {
            "url" : "http://mobile311.sfgov.org/media/san_francisco/report/photos/5573e7dedf8680108f1da62d/report.jpg"
          },
          "neighborhood" : "Parkside",
          "case_id" : "4808037",
          "supervisor_district" : "4",
          "responsible_agency" : "DPW Ops Queue",
          "opened" : "2015-06-06T23:42:49"
        }
        , {
          "point" : {
            "needs_recoding" : false,
            "longitude" : "-122.478904955602",
            "latitude" : "37.7429087454133",
            "human_address" : "{\"address\":\"\",\"city\":\"\",\"state\":\"\",\"zip\":\"\"}"
          },
          "category" : "Graffiti Public Property",
          "request_details" : "Other_enter_additional_details_below - Offensive",
          "source" : "Open311",
          "address" : "Intersect[...]
