---
http_interactions:
- request:
    method: get
    uri: http://data.sfgov.org/resource/vw6y-z8j6.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Last-Modified:
      - Sun, 07 Jun 2015 10:00:56 PDT
      X-Soda2-Warning:
      - X-SODA2-Fields, X-SODA2-Types, and X-SODA2-Legacy-Types are deprecated
      X-Soda2-Fields:
      - '[":updated_at","status","request_type","media_url","neighborhood","supervisor_district","responsible_agency","point","category","request_details","source","address","updated","case_id","closed",":id",":created_at","opened"]'
      X-Soda2-Types:
      - '["meta_data","text","text","url","text","number","text","location","text","text","text","text","calendar_date","number","calendar_date","meta_data","meta_data","calendar_date"]'
      X-Soda2-Legacy-Types:
      - 'true'
      X-Socrata-Region:
      - production
    body:
      encoding: ASCII-8BIT
      string: |-
        [ {
          "point" : {
            "needs_recoding" : false,
            "longitude" : "-122.439266918906",
            "latitude" : "37.770874502267",
            "human_address" : "{\"address\":\"\",\"city\":\"\",\"state\":\"\",\"zip\":\"\"}"
          },
          "category" : "Illegal Postings",
          "request_details" : "Multiple_Postings on Sidewalk",
          "source" : "Voice In",
          "address" : "1035 HAIGHT ST, SAN FRANCISCO, CA, 94117",
          "request_type" : "Illegal Postings - Multiple_Postings",
          "status" : "Closed",
          "updated" : "2015-06-05T04:26:42",
          "neighborhood" : "Haight Ashbury",
          "case_id" : "4803331",
          "closed" : "2015-06-06T17:14:47",
          "supervisor_district" : "5",
          "responsible_agency" : "DPW BSM Queue",
          "opened" : "2015-06-05T04:25:44"
        }
        , {
          "point" : {
            "needs_recoding" : false,
            "longitude" : "-122.439266918906",
            "latitude" : "37.770874502267",
            "human_address" : "{\"address\":\"\",\"city\":\"\",\"state\":\"\",\"zip\":\"\"}"
          },
          "category" : "Graffiti Public Property",
          "request_details" : "Pole - Not_Offensive",
          "source" : "Voice In",
          "address" : "1035 HAIGHT ST, SAN FRANCISCO, CA, 94[...]
